{% extends 'base.html.twig' %}

{% block title %}Hello JobController!{% endblock %}

{% block body %}
    <div class="container mx-auto px-4 m-4">
        <div class="max-w-md mx-auto bg-white p-8 border border-gray-300 rounded-lg shadow-md">
            {{ form_start(form, {'attr': {'class': 'space-y-4'}}) }}

            <div class="mb-4">
                {{ form_label(form.nom, 'Nom de l\'offre', {'label_attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'}}) }}
                {{ form_widget(form.nom, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
                {{ form_errors(form.nom) }}
            </div>

            <div class="mb-4">
                {{ form_label(form.description, 'Description de l\'offre', {'label_attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'}}) }}
                {{ form_widget(form.description, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline h-32'}}) }}
                {{ form_errors(form.description) }}
            </div>

            <div class="mb-4">
                {{ form_label(form.salaire, 'Salaire de l\'offre', {'label_attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'}}) }}
                {{ form_widget(form.salaire, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
                {{ form_errors(form.salaire) }}
            </div>

            <div class="mb-4">
                {{ form_label(form.service, 'Le service de l\'offre', {'label_attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'}}) }}
                {{ form_widget(form.service, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-white'}}) }}
                {{ form_errors(form.service) }}
            </div>

            <div class="mb-4">
                {{ form_label(form.tags, 'Tags de l\'offre', {'label_attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'}}) }}
                {{ form_widget(form.tags, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
                {{ form_errors(form.tags) }}
            </div>

            <div class="flex items-center justify-between">
                {{ form_widget(form.submit, {'label': isNew ? 'Créer l\'offre' : 'Modifier l\'offre', 'attr': {'class': 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline'}}) }}
            </div>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
