{% extends 'base.html.twig' %}

{% block title %}Hello JobController!{% endblock %}

{% block body %}
    <div class="container mx-auto px-4">
        <a href="{{ path('app_job') }}" class="inline-block my-4 text-blue-500 hover:underline">< Retourner à la liste des offres</a>
        <div class="bg-white rounded-lg shadow-lg my-4 p-4">
            <div class="flex justify-between items-center">
                <h1 class="font-display text-5xl font-bold tracking-tighter text-blue-600 sm:text-7xl">{{ offre.nom }}</h1>
                <p class="mt-0.5 text-2xl font-semibold tracking-tight text-blue-900">{{ offre.salaire }} €</p>
            </div>
            <div class="my-4">
                {% for tag in offre.tags %}
                    <span class="inline-flex items-center rounded-full bg-yellow-100 p-2 py-0.5 text-sm font-medium text-yellow-800">{{ tag.nom }}</span>
                {% endfor %}
            </div>
            <p class="font-mono text-sm text-blue-600">Service: {{ offre.service.nom }}</p>
            <p class="mt-0.5 text-2xl font-semibold tracking-tight text-blue-900">{{ offre.description }}</p>

            <div class="flex justify-around items-center my-4">
                <a href="{{ path('app_job_edit', { 'id': offre.id }) }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Editer l'offre</a>
                <a href="{{ path('app_job_delete', { 'id': offre.id }) }}" class="bg-red-500 rounded-lg p-2 shadow-lg hover:bg-red-700">Supprimer l'offre</a>
            </div>
        </div>
    </div>
{% endblock %}
